<section class="content">
  <div *ngIf="hotel" class="container-fluid">
    <div class="block-header mt-n3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="fw-bold">Hi {{user.name}}, Welcome back!</h4>
              <h4 class="font-weight-normal mb-0">Hotel Manager - {{hotel.name}}</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary float-start bg-purple">
              <i class="fas fa-bed"></i>
            </div>
            <div class="float-end m-4">
              <div>
                <h5 class="float-end">Total Rooms</h5>
              </div>
              <div class="card-body float-end">
                {{totalRooms}}
              </div>
            </div>
          </div>
          <div class="card-content m-3">
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar l-bg-purple width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary float-start bg-blue">
              <i class="fas fa-bell-concierge"></i>
            </div>
            <div class="float-end m-4">
              <div>
                <h5 class="float-end">Total Services</h5>
              </div>
              <div class="card-body float-end">
                {{totalServices}}
              </div>
            </div>
          </div>
          <div class="card-content m-3">
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar l-bg-blue width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary float-start bg-orange">
              <i class="fas fa-users"></i>
            </div>
            <div class="float-end m-4">
              <div>
                <h5 class="float-end">Total Clients</h5>
              </div>
              <div class="card-body float-end">
              </div>
            </div>
          </div>
          <div class="card-content m-3">
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar l-bg-orange width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon shadow-primary float-start bg-green">
              <i class="fas fa-users"></i>
            </div>
            <div class="float-end m-4">
              <div>
                <h5 class="float-end">Total Hotels</h5>
              </div>
              <div class="card-body float-end">

              </div>
            </div>
          </div>
          <div class="card-content m-3">
            <div class="progress skill-progress m-b-20 w-100">
              <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
          <div class="header">
            <h2>
              {{hotel.name}}
            </h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card" style="height: 94%;">
          <div class="header">
            <h2>Types Rooms</h2>
          </div>
          <div class="body">
            <div echarts [options]="donut_chart" class="desktop-pie-height"></div>
            <table class="table mb-0">
              <tbody>
                <tr *ngFor="let typeRoom of typesRooms">
                  <td><i class="fas fa-circle text-primary"></i>&nbsp;{{typeRoom.name}}</td>
                  <td class="text-end"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="!hotel" class="text-center">You don't have a Hotel.</h1>
</section>
