<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa fa-calendar" aria-hidden="true"> </i>
    Events
  </h1>
  <hr />


  <div class="text-center mt-2 mb-2">
    <button type="button" data-bs-toggle="modal" data-bs-target="#addEvent" class="ms-3 btn btn-event btn-success">
      Add Event
      <span class="btn-icon-end"><i class="fas fa-calendar"></i> </span>
    </button>
    <button *ngIf="!showTableEvents" (click)="showTable()" type="button" class="ms-3 btn btn-event btn-secondary">
      Table Events
      <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
    </button>
    <button *ngIf="showTableEvents" (click)="showTable()" type="button" class="ms-3 btn btn-event btn-secondary">
      Return Cards
      <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
    </button>
    <button (click)="showCalendar()" type="button" class="ms-3 btn btn-event btn-secondary">
      View Calendar
      <span class="btn-icon-end"><i class="fas fa-calendar"></i> </span>
    </button>
    <button routerLink="/admin/home" type="button" class="ms-3 btn btn-event btn-dark">
      Back Home
      <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
    </button>
  </div>
  <hr />


  <div *ngIf="!showTableEvents && !showCalendarEvents">
    <div class="container">
      <div class="products-container">
        <div *ngFor="let event of events" class="product" data-name="p-1">
          <h5 class="card-title">{{event.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{newDates[events.indexOf(event)]}}</h6>
          <p class="card-text">{{ event.hotel.name }}</p>
          <button class="btn btn-success m-3" data-bs-toggle="modal" data-bs-target="#updateEvent"
            class="btn btn-warning m-2">
            <i class="fa fa-pencil" aria-hidden="true">
            </i> Update
          </button>
          <button class="btn btn-danger" (click)="deleteEvent(event._id)"> <i class="fa fa-trash"
              aria-hidden="true"></i>
            Delete
          </button>
          <button (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent"
            class=" btn btn-secondary ms-2"> <i class="fa fa-eye" aria-hidden="true"></i>
            View
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addEvent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-calendar" aria-hidden="true"></i>
            &nbsp;Add Event
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveEvent(addEventForm)" #addEventForm="ngForm">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" [(ngModel)]="event.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input autocomplete="off" [(ngModel)]="event.description" name="description" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date</mat-label>
                <input [(ngModel)]="addDate" name="date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Start Hour</mat-label>
                <input autocomplete="off" type="time" [(ngModel)]="event.startHour" name="startHour" name="startDate"
                  matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>End Hour</mat-label>
                <input autocomplete="off" type="time" [(ngModel)]="event.endHour" name="endHour" name="endHour"
                  matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Hotel</mat-label>
                <mat-select [(ngModel)]="event.hotel" name="admin">
                  <mat-option *ngFor="let hotel of hotels" value="{{hotel._id}}">{{hotel.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard
                Save
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Event
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="viewEvent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div *ngIf="eventView" class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">
                      <img src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                    </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        {{ eventView.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <hr />
            <div *ngIf="eventView" class="descripcion">
              <div class="count-container">
                <div class="box">
                  <h3>Name:</h3>
                </div>

                <div class="box">
                  <p>{{ eventView.name }}</p>
                </div>

                <div class="box">
                  <h3>Description:</h3>
                </div>

                <div class="box">
                  <p>{{ eventView.description }}</p>
                </div>

                <div class="box">
                  <h3>Date:</h3>
                </div>

                <div class="box">
                  <p>{{ newDate }}</p>
                </div>

                <div class="box">
                  <h3>Start Hour:</h3>
                </div>

                <div class="box">
                  <p>{{ startHour }}</p>
                </div>

                <div class="box">
                  <h3>End Hour:</h3>
                </div>

                <div class="box">
                  <p>{{ endHour }}</p>
                </div>

                <div class="box">
                  <h3>Hotel</h3>
                </div>

                <div class="box">
                  <p>{{ eventView.hotel.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showTableEvents && !showCalendarEvents" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Table Events</h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchEvent" placeholder="Search.." type="text" #filter
                    class="browser-default search-field" aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteEvent(eventDeleted._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateHotel" mat-mini-fab class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Start Hour</th>
                  <th>End Hour</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of events | searchEventPipe: searchEvent">
                  <td (click)="getEvent(event._id)">
                    <mat-checkbox *ngIf="event.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(event._id, check); getEvent(event._id)" class="example-margin"
                      color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="event.checked==false" class="example-margin" color="primary">
                    </mat-checkbox>
                    {{ events.indexOf(event) + 1 }}
                  </td>
                  <td (click)="getEvent(event._id)" class="table-img">
                    <img src="assets/images/user/user8.jpg" alt="" />
                  </td>
                  <td (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent">{{ event.name }}
                  </td>
                  <td (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent">{{
                    event.description }}</td>
                  <td (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent">
                    {{newDates[events.indexOf(event)]}}</td>
                  <td (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent">{{
                    event.startHour }}</td>
                  <td (click)="getEvent(event._id)" data-bs-toggle="modal" data-bs-target="#viewEvent">{{ event.endHour
                    }}</td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Not Events Found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true && showTableEvents === false" class="text-center">
    Not Events Found
  </h1>


  <!--IMPLEMENTACION DE CALENDARIO-->

  <full-calendar *ngIf="showCalendarEvents" [options]='calendarOptions'>
  </full-calendar>


</section>
