<body>
    <div class="main-bat">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="logo-header">
                <img src="../../../../assets/images/LogoOpusDei.png" alt="" style="margin-left: 10px;">
                <a routerLink="/home" style="color: orange; margin-left: 10px; margin-top: 10px;">Retiros OpusDei</a>
            </div>
            <ul>
                <li class="active"><a routerLink="">Inicio</a></li>
                <li class=""><a routerLink="/ubicaciones">Ubicaciones</a></li>
                <li class=""><a routerLink="/actividades">Actividades</a></li>
                <li class=""><a routerLink="/contactanos">Contactanos</a></li>
                <li class=""><a routerLink="/opusdei">OpusDei</a></li>
                <li class=""><a routerLink="/desarrolladores">Desarrolladores</a></li>
                <li class=""><a routerLink="/login">Login</a></li>

            </ul>
        </nav>
    </div>
</body>