<section class="content">
  <h1 style="margin-top: 4rem">
      &nbsp;<i class="fa fa-bell-concierge"></i>
      Services
    </h1>
    <hr>

    <div *ngIf="!showTableServices" class="row d-flex justify-content-center align-items-center">
      <div class="form">
          <i class="fa fa-search ms-2"></i>
          <input [(ngModel)]="searchService" type="text" class="form-control form-input" placeholder="Search Service...">
      </div>
    </div>

    <div class="text-center mt-2 mb-2">
      <button type="button" data-bs-toggle="modal" data-bs-target="#addService" class="ms-3 btn btn-event btn-success">
        Add Service
        <span class="btn-icon-end"><i class="fas fa-bell-concierge"></i> </span>
      </button>
      <button *ngIf="!showTableServices" (click)="showTable()" type="button" class="ms-3 btn btn-event btn-secondary">
        Table Services
        <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
      </button>
      <button *ngIf="showTableServices" (click)="showTable()" type="button" class="ms-3 btn btn-event btn-secondary">
        Return Cards
        <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
      </button>
      <button routerLink="/admin-hotel/home" type="button" class="ms-3 btn btn-event btn-dark">
        Back Home
        <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
      </button>
    </div>
    <hr />

    <!--CARDS DE SERVICES-->
  <div *ngIf="!showTableServices">
    <div class="container">
        <div class="products-container">
            <div *ngFor="let service of services | searchServiceBarPipe:searchService" class="product" data-name="p-1">
                <h5 class="card-title">{{service.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Q.{{newPrices[services.indexOf(service)]}}</h6>
                <button (click)="getService(service._id)" class="btn btn-success m-3" data-bs-toggle="modal"
                    data-bs-target="#updateService" class="btn btn-warning m-2">
                    <i class="fa fa-pencil" aria-hidden="true">
                    </i> Update
                </button>
                <button (click)="deleteService(service._id)" class="btn btn-danger"> <i class="fa fa-trash"
                        aria-hidden="true"></i>
                    Delete
                </button>
                <button (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#viewService"
                    class=" btn btn-secondary ms-2"> <i class="fa fa-eye" aria-hidden="true"></i>
                    View
                </button>
                <button (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#addIcon"
                    class=" btn btn-sample ms-2"> <i class="fa fa-icons" aria-hidden="true"></i>
                    Add Icon
                </button>
            </div>
        </div>
    </div>
  </div>

  <!--ADD SERVICE MODAL-->
  <div class="modal fade" id="addService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-bell-concierge" aria-hidden="true"></i>
            &nbsp;Add Service
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveService(addServiceForm)" #addServiceForm="ngForm">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" [(ngModel)]="service.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input autocomplete="off" [(ngModel)]="service.description" name="description" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <input autocomplete="off" min="1" [(ngModel)]="service.price" type="number" name="price" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Hotel</mat-label>
                <input autocomplete="off" disabled value="{{hotel.name}}" name="hotel" matInput />
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard
                Save
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Service
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL VIEW HOTEL-->
  <div class="modal fade" id="viewService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div *ngIf="serviceView" class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">
                     <i *ngIf="serviceView.icon" class="fa {{serviceView.icon}} fa-3x"></i>
                     <i  *ngIf="!serviceView.icon" class="fa fa-question fa-3x"></i>
                    </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        {{ serviceView.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <hr />
            <div *ngIf="serviceView" class="descripcion">
              <div class="count-container">
                <div class="box">
                  <h3>Name:</h3>
                </div>

                <div class="box">
                  <p>{{ serviceView.name }}</p>
                </div>

                <div class="box">
                  <h3>Description:</h3>
                </div>

                <div class="box">
                  <p>{{ serviceView.description }}</p>
                </div>

                <div class="box">
                  <h3>Price:</h3>
                </div>

                <div class="box">
                  <p>Q.{{ newPrice }}</p>
                </div>

                <div class="box">
                  <h3>Hotel</h3>
                </div>

                <div class="box">
                  <p>{{ serviceView.hotel.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--UPDATE SERVICE-->
  <div class="modal fade" id="updateService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-pencil" aria-hidden="true"></i>
            &nbsp;Update Service
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateService()" *ngIf="serviceUpdate">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" [(ngModel)]="serviceUpdate.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <input autocomplete="off" [(ngModel)]="serviceUpdate.description" name="description" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Price</mat-label>
                <input min="1" type="number" autocomplete="off" [(ngModel)]="serviceUpdate.price" name="price" matInput />
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Update
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Update Service
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


   <!--ADD SERVICE MODAL-->
   <div class="modal fade" id="addIcon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-icons" aria-hidden="true"></i>
            &nbsp;Add Icon
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addIcon(formIcon)" #formIcon="ngForm">
            <div class="container-icons">
              <mat-button-toggle-group [(ngModel)]="icon" name="icon" aria-label="Font Style">
                <mat-button-toggle value="fa-wifi"><i class="fa fa-wifi"></i></mat-button-toggle>
                <mat-button-toggle value="fa-cutlery"><i class="fa fa-cutlery"></i></mat-button-toggle>
                <mat-button-toggle value="fa-person-swimming"><i class="fa fa-person-swimming"></i></mat-button-toggle>
                <mat-button-toggle value="fa-dumbbell"><i class="fa fa-dumbbell"></i></mat-button-toggle>
                <mat-button-toggle value="fa-tv"><i class="fa fa-tv"></i></mat-button-toggle>
                <mat-button-toggle value="fa-square-parking"><i class="fa fa-square-parking"></i></mat-button-toggle>
                <mat-button-toggle value="fa-champagne-glasses"><i class="fa fa-champagne-glasses"></i></mat-button-toggle>
                <mat-button-toggle value="fa-gift"><i class="fa fa-gift"></i></mat-button-toggle>
                <mat-button-toggle value="fa-hot-tub-person"><i class="fa fa-hot-tub-person"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <hr/>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Icon
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!--View Table Services-->
  <div *ngIf="showTableServices" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Table Services</h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchService" placeholder="Search.." type="text" #filter
                    class="browser-default search-field" aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteService(serviceDeleted._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateService" mat-mini-fab class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Hotel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of services">
                  <td (click)="getService(service._id)">
                    <mat-checkbox *ngIf="service.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(service._id, check); getService(service._id)" class="example-margin"
                      color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="service.checked==false" class="example-margin" color="primary">
                    </mat-checkbox>
                    {{ services.indexOf(service) + 1 }}
                  </td>
                  <td (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#viewService">{{ service.name }}
                  </td>
                  <td (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#viewService">{{service.description }}</td>
                  <td (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#viewService">
                    Q. {{newPrices[services.indexOf(service)]}}</td>
                  <td (click)="getService(service._id)" data-bs-toggle="modal" data-bs-target="#viewService">{{service.hotel.name}}</td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Not Service Found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true && showTableServices === false" class="text-center">
    Not Services Found
  </h1>

  </section>
