<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa fa-timeline" aria-hidden="true"> </i>
    Your History
  </h1>
  <hr />
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="body">
        <section id="cd-timeline" class="cd-container">
          <div *ngFor="let reservation of reservations" class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img *ngIf="reservation.hotel.image===undefined" style="object-fit: cover;" src="assets/images/user/user1.jpg"
                crossorigin="anonymous" alt="" />
              <img *ngIf="reservation.hotel.image!==undefined" src="{{uriHotel+reservation.hotel.image}}"
                crossorigin="anonymous" alt="" />
            </div>
            <div class="cd-timeline-content">
              <h2 class="timelineLabelColor">
                <strong>{{reservation.hotel.name}}</strong>
              </h2>
              <h6>
                <i class="fas fa bed"></i>
                <strong>Room :</strong> {{reservation.room.room.name}}
              </h6>
              <h6>
                <i class="fas fa bed"></i>
                <strong>Date Entry :</strong> {{entryDates[reservations.indexOf(reservation)]}}
              </h6>
              <h6>
                <i class="fas fa bed"></i>
                <strong>Date Exit :</strong> {{exitDates[reservations.indexOf(reservation)]}}
              </h6>
              <a data-bs-toggle="modal" data-bs-target="#viewReservation" (click)="getReservation(reservation._id)" style="cursor: pointer;" class="cd-read-more"><i class="fas fa-eye"></i> View Details</a>
              <span class="cd-date">{{months[reservations.indexOf(reservation)]}}
                {{days[reservations.indexOf(reservation)]}}</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


  <div class="modal fade" id="viewReservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div *ngIf="viewReservation" class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">

                      </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        {{ viewReservation.hotel.name }} | {{viewReservation.room.room.name}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <hr />
            <div *ngIf="viewReservation" class="descripcion">
              <div class="count-container">
                <div class="box">
                  <h3>Entry Date:</h3>
                </div>

                <div class="box">
                  <p>{{ entryDate }}</p>
                </div>

                <div class="box">
                  <h3>End Date:</h3>
                </div>

                <div class="box">
                  <p>{{ exitDate }}</p>
                </div>

                <div class="box">
                  <h3>Total Days:</h3>
                </div>

                <div class="box">
                  <p>{{viewReservation.totalDays}}</p>
                </div>

                <div class="box">
                  <h3>Total Nights:</h3>
                </div>

                <div class="box">
                  <p>{{viewReservation.totalNights}}</p>
                </div>

                <div class="box">
                  <h3>Total Price:</h3>
                </div>

                <div class="box">
                  <p>Q.{{viewReservation.total.toFixed(2)}}</p>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
