<app-navbar></app-navbar>
<div class="image-aboutus-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">Nosotros</h1>
                <p class="image-aboutus-para">Somos un grupo de graduados de Kinal</p>
            </div>
        </div>
    </div>
</div>

<div class="container team-sektion paddingTB60 mt-3">
    <section id="team">
        <div class="container">
            <div class="row text-center g-4">

                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="../../../../assets/images/develops/Rodrigo Cardenas.png" class="img-fluid" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a data-bs-toggle="modal" data-bs-target="#Rodrigo"><i
                                                class="fa-solid fa-at"></i></a></li>
                                    <li><a href="https://github.com/rcardenas-2020166"><i
                                                class="fa-brands fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">Rodrigo Cárdenas</h5>
                                <p>Desarrollador</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="Rodrigo" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 20%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">E-mail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Rodrigo </h3>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="single-team">
                        <div class="team-thumb">
                            <img src="../../../../assets/images/develops/Sduard Ixpatac.png" class="img-fluid" alt="">
                        </div>

                        <div class="team-details">
                            <div class="team-social-icons">
                                <ul class="social-list">
                                    <li><a data-bs-toggle="modal" data-bs-target="#Sduard"><i
                                                class="fa-solid fa-at"></i></a></li>
                                    <li><a href="https://github.com/sixpatac-2020209"><i
                                                class="fa-brands fa-github"></i></a></li>
                                    <li><a href="https://linkedin.com/in/sduard-sipaque-23843b243"><i
                                                class="fa-brands fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-inner text-center">
                                <h5 class="team-title">Sduard Sipaque</h5>
                                <p>Desarrollador</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="Sduard" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 20%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">E-mail</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>sduard.sipaque@gmail.com</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
