<div class="contactBox" style="height: 100vh; background-color: #EFEDE7;">
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Contact Us</h3>
            <p class="text">
                Send us suggestions and your questions, we are here to serve you.
                Come back soon
            </p>
            <div class="info">
                <div class="information">
                    <img src="../../../assets/images/contactUs/location.png" class="icon" alt="" />
                    <p class="infomationTitle">Guatemala</p>
                </div>
                <div class="information">
                    <img src="../../../assets/images/contactUs/email.png" class="icon" alt="" />
                    <p class="infomationTitle">hotelmanagerdb@gmail.com</p>
                </div>
                <div class="information">
                    <img src="../../../assets/images/contactUs/phone.png" class="icon" alt="" />
                    <p class="infomationTitle">123-456-789</p>
                </div>
            </div>

            <div class="social-media">
                <p>Contact Us by:</p>
                <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <form (ngSubmit)="sendMessage(contactForm)" #contactForm="ngForm" class="mx-1 mx-md-4" autocomplete="off">
                <h3 class="title">Contact Us</h3>
                <div class="input-container">
                    <input [(ngModel)]="contact.username" placeholder="Name" type="text" name="username"
                        class="input" />
                </div>
                <div class="input-container">
                    <input [(ngModel)]="contact.email" placeholder="Email" type="email" name="email" class="input" />
                </div>
                <div class="input-container">
                    <input [(ngModel)]="contact.phone" placeholder="Phone" type="tel" name="phone" class="input" />
                </div>
                <div class="input-container textarea">
                    <textarea [(ngModel)]="contact.message" placeholder="Message" name="message"
                        class="input"></textarea>
                </div>
                <input type="submit" value="Send" class="btnContact" />
            </form>
        </div>
    </div>
</div>
