<!-- Carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button style="background-color: #1975e6; padding: 1px;" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button style="background-color: #1975e6; padding: 1px;" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button style="background-color: #1975e6; padding: 1px;" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div style="height: 100%;" class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 100vh;" src="https://cdn.forbes.co/2020/02/sofitel-legend-santa-clara-outdoor-pool.jpg"
        class="image" alt="...">
      <div class="shadow">
        <div class="position-absolute top-50 start-50 translate-middle text-center ">
          <h5 class="textCarrousel">Manager Hotels</h5>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <img style="height: 100vh;" src="https://content.r9cdn.net/himg/3a/dc/91/ice-125379616-71986859_3XL-761571.jpg"
        class="image" alt="...">
      <div class="shadow">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
          <h5 class="textCarrousel">Manager Hotels</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img style="height: 100vh;"
        src="https://www.elespectador.com/resizer/MlzHm0FG9Kc3508B96yQPhmI_p8=/525x350/filters:format(jpeg)/cloudfront-us-east-1.images.arcpublishing.com/elespectador/LGPWAMYSRRAYXCLAMV6JGC7VDQ.jpeg"
        class="image" alt="...">
      <div class="shadow">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
          <h5 class="textCarrousel">Manager Hotels</h5>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span style="color: #1975e6; font-size: 2.5rem;" class="fa fa-chevron-circle-left" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span style="color: #1975e6; font-size: 2.5rem;" class="fa fa-chevron-circle-right" aria-hidden="true"></span>
  </button>
</div>

<!-- Container -->

<main class="main">
  <section class="about containerBox">
    <article class="about__item">
      <figure class="about__picture">
        <img src="https://cdn-icons-png.flaticon.com/512/1455/1455318.png" class="about__img">
      </figure>

      <h3 class="about__title"> speed to find hotel</h3>

      <p class="about__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque consectetur amet
        aliquid in inventore blanditiis eos, autem sapiente aspernatur fugiat sequi qui beatae tempore rem ab!
        Accusamus, delectus perferendis! Consequatur.</p>
    </article>

    <article class="about__item">
      <figure class="about__picture">
        <img src="https://marketerosdehoy.com/wp-content/uploads/2017/03/customer-service1.png" class="about__img">
      </figure>

      <h3 class="about__title"> good customer service
      </h3>

      <p class="about__paragraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto similique sunt ipsam
        veniam veritatis, voluptates delectus libero consequuntur illum cumque qui. Asperiores iusto excepturi facilis,
        cum aliquam ipsam deserunt blanditiis?
      </p>
    </article>




    <article class="about__item">
      <figure class="about__picture">
        <img src="https://disenodepagina.com/disenoweb/wp-content/uploads/2018/12/diseno-y-desarrollo-web-efe6.png"
          class="about__img">
      </figure>

      <h3 class="about__title">intuitive app</h3>

      <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, error tempore sint,
        voluptates temporibus facere corporis asperiores eos quis voluptate placeat officiis obcaecati aspernatur
        aperiam eligendi fugit autem adipisci nihil?</p>
    </article>

    <article class="about__item">
      <figure class="about__picture">
        <img src="https://creactibox.com/wp-content/uploads/2020/12/experiencia-de-cliente.png" class="about__img">
      </figure>

      <h3 class="about__title">good experience</h3>

      <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit temporibus, perferendis
        distinctio natus ad molestiae blanditiis iusto quod alias ipsam quis, voluptate officiis corporis. Dolore fuga
        nesciunt et ab similique?</p>
    </article>

  </section>

  <section class="productive containerBox">

    <figure class="productive__picture">
      <img
        src="https://lookingtravel.com/wp-content/uploads/2020/08/2021-12-looking-travel-esperiencias-de-viajes-banner-1024x594.jpg"
        class="productive__img">
    </figure>

    <div class="productive__texts">

      <h3 class="productive__title">Enjoy a new travel experience</h3>

      <p class="productive__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dignissimos
        officia neque reprehenderit quisquam doloremque eaque, tenetur ullam voluptatibus! Recusandae ad alias, sed
        animi itaque odit ut adipisci optio officiis.</p>

      <p class="productive__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quis magni nisi
        architecto at doloribus, hic nesciunt laborum inventore praesentium aspernatur sed sunt repellat blanditiis
        delectus voluptas tempore! Quae, illo!</p>

      <a href="#" class="productive__cta">See Hotels
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </a>

    </div>
  </section>
</main>
