

body
{
   font-size: 8500px
 }

 .text-light { color: #043E85 !important; }
 .bg-dark { background-color: #EBF2FE !important; }
 .bg-dark-x { background-color: #FFFFFF;}

 .body {
   font-family: 'Spartan', sans-serif;
   font-weight: 300;
   color: #043E85;
 }

 .btn1 {
   min-height: 3.125rem;
   font-weight: 600;
   background-color: #369E62;
   color: #043E85;
 }

 .btn1:hover
 {
   background-color: #3FB471;
   color: #FFFFFF;
 }

 .btn {
   min-height: 3.125rem;
   font-weight: 600;
 }

 .form-control {
   min-height: 3.125rem;
   line-height: initial;
 }
 .form-control:focus {
   background-color: #ffffff;
   outline: none;
 }

 .img-1 {
   background-image: url('../../../../assets/images/login/img1.jpg');
   background-size: cover;
   background-position: center;
 }

 .img-2 {
   background-image: url('../../../../assets/images/login/img2.jpg');
   background-size: cover;
   background-position: center;
 }

 .img-3 {
   background-image: url('../../../../assets/images/login/img3.jpg');
   background-size: cover;
   background-position: center;
 }

 .etiqueta
 {
   color: #043E85;
 }

 .etiqueta:hover
 {
   color: #369E62;
 }

 .letras
 {
   color: #043E85;
 }

.logo
{
 width: 18rem;
 height: 18rem;
}

.div
{
text-align: center;
}

.color
{
 color: #FFFFFF;
}


.btn-sample {
  color: #ffffff;
  background-color: #043E85;
  border-color: #043E85;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #074b9e;
  border-color: #043E85;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #043E85;
  border-color: #043E85;
}

.btn-sample .badge {
  color: #043E85;
  background-color: #ffffff;
}
