<section>
  <div class="row g-0">
    <div class="col-lg-7 d-none d-lg-block" style="height:100vh">
      <div style="height:100%" id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 0"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item img-2 min-vh-100 active">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">View the Most Hotels</h5>
              <a class="color text-decoration-none">Hotels Manager</a>
            </div>
          </div>
          <div class="carousel-item img-1 min-vh-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">Make Your Reservations</h5>
              <a class="color text-decoration-none">Hotels Manager</a>
            </div>
          </div>
          <div class="carousel-item img-3 min-vh-100">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="font-weight-bold">Control of Rooms</h5>
              <a class="color text-decoration-none">Hotels Manager</a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
      <div class="div mr-2 w-100 mt-5">
      </div>
      <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
        <br>
        <br>
        <br>
        <h1 class="font-weight-bold mb-4 letras">Sign Up</h1>
        <form (ngSubmit)="register()" class="mb-5">
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label font-weight-bold">Name</label>
            <span *ngIf="!name.valid && name.touched" class="requiredField">
               *Required field
            </span>
            <input  [(ngModel)]="user.name" #name="ngModel" name="name" type="text" id="name" placeholder="Name" class="form-control" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label font-weight-bold">Username</label>
            <span *ngIf="!username.valid && username.touched"  class="requiredField">
               *Required field
            </span>
            <input [(ngModel)]="user.username" #username="ngModel"  name="username" type="text" id="username" placeholder="Username" class="form-control" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label font-weight-bold">Email</label>
            <span *ngIf="!email.valid && email.touched" class="requiredField">
               *Required field
            </span>
            <input [(ngModel)]="user.email" #email="ngModel" name="email" type="email" id="form3Example3c" placeholder="Email" class="form-control" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">Password</label>
            <span *ngIf="!password.valid && password.touched" class="requiredField">
               *Required field
            </span>
            <input [(ngModel)]="user.password" #password="ngModel" name="password" type="password" id="form3Example4c" placeholder="Password" class="form-control" required />
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="form-label font-weight-bold">Repeat your password</label>
            <span *ngIf="!confirmPass.valid && confirmPass.touched" class="requiredField">
               *Required field
            </span>
            <input (keyup)="checkPassword()" #confirmPass="ngModel" [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Repeat Your Password" id="form3Example4cd"
                  class="form-control" required />
          </div>
          <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 mt-3 w-100">
            <input ngModel name="TermsConditions" class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required />
          <p class=" letras d-inline-block mb-0">I agree all statements in </p> <a routerLink="/register"
          class="text-light font-weight-bold text-decoration-none"><strong> Terms of service</strong> </a>
        </div>
          <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
