.btn1
{
  min-height: 3.125rem;
  font-weight: 600;
  background-color: #043E85;
  color: #FFFFFF;
}

.btn1:hover
{
  background-color: #0762d1;
  color: #FFFFFF;
  cursor: pointer;
}

.btn1:disabled
{
  background-color: #3975c0;
}

.color , .label
{
  color: #043E85;
  text-decoration: none;
  cursor: pointer;
}

.label:hover
{
  font-weight: 500;
}

input[type=checkbox] {
  cursor: pointer;
}

input[type=checkbox]:checked
{
  background-color: #16191C;
  border-color: #16191C;
}

.requiredField
{
  color: darkgoldenrod
}
