<section class="content">
  <h1 *ngIf="!roomsHotel && !eventsHotel" style="margin-top: 4rem">
    &nbsp;<i class="fa fa-building" aria-hidden="true"> </i>
    Hotels
  </h1>
  <h1 *ngIf="roomsHotel" style="margin-top: 4rem">
    &nbsp;<i class="fa fa-bed" aria-hidden="true"> </i>
    Rooms
  </h1>
  <h1 *ngIf="eventsHotel" style="margin-top: 4rem">
    &nbsp;<i class="fa fa-calendar" aria-hidden="true"> </i>
    Events
  </h1>
  <hr />

  <div *ngIf="!roomsHotel && !eventsHotel" class="row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchHotel" type="text" class="form-control form-input" placeholder="Search Hotel...">
    </div>
  </div>
  <div *ngIf="roomsHotel" class="row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchRoom" type="text" class="form-control form-input" placeholder="Search Room...">
    </div>
  </div>
  <div *ngIf="eventsHotel" class="row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchEvent" type="text" class="form-control form-input" placeholder="Search Event...">
    </div>
  </div>
  <hr />

  <div *ngIf="!roomsHotel && !eventsHotel" class="row mt-5"
    style="width: 100%; display: flex; justify-content: center;">
    <div class="col-sm-9 col-md-9 col-lg-9 mb-4">
      <div *ngFor="let hotel of hotels | searchHotelBarPipe:searchHotel" style="
      background-color: white; min-height: 16rem; max-height: 16rem;"
        class="hotel-card rounded-lg  mb-4 overflow-hidden d-block d-lg-flex">
        <div class="hotel-card_images">
          <div id="bootstrapCarousel" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner h-100">
              <div class="carousel-item h-100 active">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Hotel_pic.jpg" class="d-block w-100"
                  alt="Hotel Image">
              </div>
              <div class="carousel-item h-100">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Hotel_pic.jpg" class="d-block w-100"
                  alt="Hotel Image">
              </div>
              <div class="carousel-item h-100">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Hotel_pic.jpg" class="d-block w-100"
                  alt="Hotel Image">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#bootstrapCarousel"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <a class="carousel-control-next" type="button" data-bs-target="#bootstrapCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="hotel-card_info p-4" style="height: 0.4rem;">
          <div class="d-flex align-items-center mb-2">
            <h5 class="mb-0 mr-2" style="color: black;">{{hotel.name}}&nbsp;</h5>
            <div>
              <i style="color:#1976ED" class="fa fa-star text-warning"></i>
              <i style="color:#1976ED" class="fa fa-star text-warning"></i>
              <i style="color:#1976ED" class="fa fa-star text-warning"></i>
              <i style="color:#1976ED" class="fa fa-star text-warning"></i>
              <i style="color:#1976ED" class="fa fa-star text-warning"></i>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <div class="hotel-card_details">
              <div class="text-muted mb-2"><i class="fas fa-map-marker-alt"></i> {{hotel.address}}</div>
              <div class="mb-2"><span class="badge bg-primary">4.5</span> <a
                  class="text-muted">{{hotel.description}}</a>
              </div>
              <p>Services</p>
              <div class="amnities d-flex mb-3">
                <i *ngFor="let service of services[hotels.indexOf(hotel)]" class="me-2 fa {{service.icon}}"
                  data-toggle="tooltip" data-placement="top" title="Desk bell" alt="Desk bell"></i>
              </div>
              <ul class="hotel-checklist pl-0 mb-0" style="columns: 3;">
                <li *ngFor="let service of services[hotels.indexOf(hotel)]"><i
                    class="fa {{service.icon}}"></i>&nbsp;{{service.name}}</li>
              </ul>
            </div>
            <div class="hotel-card_pricing text-center">
              <h3>Q.{{prices[hotels.indexOf(hotel)].toFixed(2)}}</h3>
              <div class="d-flex justify-content-center" style="flex-direction: column;">
                <button (click)="getRooms(hotel._id); getServicesHotel(hotel._id);"
                  class="btn btn-sample mb-1">Rooms</button>
                <button (click)="getEvents(hotel._id);" class="btn btn-sample">Events</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="roomsHotel" class="d-flex justify-content-center">
    <button (click)="returnHotels()" type="button" class="ms-3 btn btn-dark">
      Return Hotels
      <span class="btn-icon-end"><i class="fas fa-building"></i> </span>
    </button>
  </div>

  <div *ngIf="roomsHotel" class="container mt-2 mb-5">
    <div *ngFor="let room of roomsHotel | searchRoomBarPipe:searchRoom" class="d-flex justify-content-center row">
      <div class="col-md-10">
        <div class="row p-2 bg-white border rounded mt-2">
          <div class="col-md-3 mt-1 img-hover-zoom">
            <img style="height: 100%; object-fit:cover" *ngIf="room.image!==undefined" crossorigin="anonymous"
              class="img-fluid img-responsive rounded product-image" src="{{uriRoom+room.image}}">
          </div>
          <div class="col-md-6 mt-1">
            <h5 style="color:black">{{room.name}}</h5>
            <div class="d-flex flex-row">
              <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                  class="fa fa-star"></i></div><span>310</span>
            </div>
            <div *ngFor="let service of servicesHotel">
              <div class="mt-1 mb-1 spec-1">
                <span class="fa {{service.icon}}"></span>&nbsp;<span>{{service.name}}</span>
              </div>
            </div>

            <p style="color: black;" class="text-justify text-truncate para mb-0">
              <b>Type Room:</b>&nbsp;{{room.typeRoom.name}}
              <br>
            </p>
            <p style="color: black;" class="mt-1">{{room.description}}</p>
          </div>
          <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
              <h4 style="color:#1976ED">&nbsp;Q.{{room.price.toFixed(2)}}</h4>
            </div>
            <div class="d-flex flex-column mt-4">
              <button (click)="reserveRoom(room._id)" data-bs-toggle="modal" data-bs-target="#reservationRoom"
                class="btn btn-sample btn-sm mt-2" type="button">
                Reserve Room
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="eventsHotel" class="d-flex justify-content-center">
    <button (click)="returnHotels()" type="button" class="ms-3 btn btn-event btn-dark">
      Return Hotels
      <span class="btn-icon-end"><i class="fas fa-building"></i> </span>
    </button>
  </div>

  <div *ngIf="eventsHotel" class="container mt-2 mb-5"
    style="display: flex; flex-wrap: wrap; align-content: center; justify-content: center; align-items: center;">
    <div *ngFor="let event of eventsHotel" class="d-flex justify-content-center row" style="max-width: 500px;">
      <div class="col-md-10">
        <div class="row p-2 bg-white border rounded mt-2">
          <div class="col-md-3 mt-1 img-hover-zoom" style="width: 45%;">
            <img style="height: 100%; object-fit:cover;" crossorigin="anonymous"
              class="img-fluid img-responsive rounded product-image"
              src="https://th.bing.com/th/id/OIP.UsxFP3BbvEc-5jWsB8d9pQHaFA?pid=ImgDet&rs=1">
          </div>
          <div class="col-md-6 mt-1">
            <h5 style="color:black;">{{event.name}}</h5>
            <p style="color: black;" class="mt-1">{{event.description}}</p>
            <div>
              <div class="mt-1 mb-1 spec-1">
                <p style="color: black;" class="mt-1"><i class="fa-solid fa-hotel"></i>&nbsp; {{event.hotel.name}}</p>
              </div>

              <div class="mt-1 mb-1 spec-1">
                <span class="fa fa-clock"></span>&nbsp;<span>{{event.date}}</span>
              </div>

              <div class="mt-1 mb-1 spec-1">
                <span class="fa fa-clock"></span>&nbsp;<span>{{event.startHour}}</span>
              </div>

              <div class="mt-1 mb-1 spec-1">
                <span class="fa fa-clock"></span>&nbsp;<span>{{event.endHour}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="reservationRoom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog modal-dialog-centered">
      <div *ngIf="room" class="modal-content">
        <div class="text-right p-2 bg-white">
          <button style="width:2rem" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="p-1 mt-2 px-3 bg-white">
          <div class="d-flex flex-row align-items-center">
            <h5 style="color:black;">{{room.name}}&nbsp;</h5>
            <span class="ratings ml-2">
              <i style="color:#1976ED" class="fa fa-star"></i>
              <i style="color:#1976ED" class="fa fa-star"></i>
              <i style="color:#1976ED" class="fa fa-star"></i>
              <i style="color:#1976ED" class="fa fa-star"></i>
            </span>
          </div>
          <div class="mt-0 d-flex justify-content-between">
            <span style="color: black;">{{room.description}}</span>
          </div>
        </div>
        <div class="px-5 p-2 listing">
          <div class="p-2 listing-child mt-1 d-flex flex-row">
            <img src="{{uriReservation}}" crossorigin="anonymous" width="150" class="rounded">
            <div class="d-flex flex-column ml-2">
              <h5 style="color:black" class="ms-2">{{room.name}}</h5>
              <p>&nbsp; Additional Services</p>
              <div class="d-flex flex-row room-spec">
                <span *ngFor="let service of servicesHotel">
                  <i class="fa {{service.icon}} text-muted ms-2">
                  </i> {{service.name}}</span>
              </div>
            </div>
          </div>
          <div class="p-3 bg-white border-bottom">
            <div class="info">
              <h6 style="color:black"><i class="fa fa-calendar"></i> Select Your Dates</h6>
            </div>
            <div class="d-flex justify-content-between mt-3" style="flex-wrap: wrap;">
              <form (ngSubmit)="saveReservation()" #add="ngForm">
                <div class="text-inside">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Entry Date</mat-label>
                    <input [(ngModel)]="entryDate" style="color:#121212" [min]="actualDate" name="date" matInput
                      [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="text-inside">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Exit Date</mat-label>
                    <input [(ngModel)]="exitDate" style="color:#121212" [min]="actualDate" name="date2" matInput
                      [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="text-inside">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Total Persons</mat-label>
                    <input style="color: #121212;" min="1" autocomplete="off" [(ngModel)]="totalPersons" type="number"
                      name="persons" matInput />
                  </mat-form-field>
                </div>
              </form>
              <div style="color:black" class="d-flex flex-row align-items-center spec">
                <div class="invoice-box" style="margin-top: -2rem;">
                  <table>
                    <tr rowspan="2" class="heading text-center">
                      <td colspan="2">Your Reservation</td>
                    </tr>
                    <tr class="item">
                      <td>Night Price</td>
                      <td>Q.{{room.price.toFixed(2)}}</td>
                    </tr>
                    <tr class="item last">
                      <td>Total Nights</td>
                      <td *ngIf="!exitDate || !entryDate">0</td>
                      <td *ngIf="exitDate && entryDate">{{calculateNights(exitDate.getTime() , entryDate.getTime())}}
                      </td>
                    </tr>
                    <tr class="total">
                      <td></td>
                      <td *ngIf="!exitDate || !entryDate">Total: Q.0.00</td>
                      <td *ngIf="exitDate && entryDate">Total: Q.{{(totalNights*room.price).toFixed(2)}}</td>
                    </tr>
                  </table>
                  <table>
                    <tr rowspan="2" class="heading text-center">
                      <td colspan="2">Your Services</td>
                    </tr>
                    <tr class="item">
                      <td>Total Services</td>
                      <td>Q.{{returnTotal().toFixed(2)}}</td>
                    </tr>
                  </table>
                </div>
                <div class="form-check ml-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                </div>
              </div>
            </div>
          </div>
          <div class="p-3 bg-white border-bottom">
            <div class="info">
              <h5 style="color:#121212">&nbsp; Add Additional Services</h5>
              <mat-checkbox *ngFor="let service of servicesHotel"
                (click)="addServices(service.price,check);pushingServices(check,service._id)" #check="matCheckbox"
                class="example-margin" color="primary">
                <i class="fas {{service.icon}}"></i>&nbsp;{{service.name}}
              </mat-checkbox>
            </div>
            <div class="d-flex justify-content-between mt-3">
            </div>
          </div>
        </div>
        <div class="bg-white p-2 px-3 border-bottom">
          <div class="row">
            <div class="container">
              <div class="d-flex justify-content-center align-items-center">
                <div *ngIf="entryDate" class="check-in me-4">
                  <span *ngIf="entryDate" style="color:black">Entry Date</span>
                  <div class="d-flex flex-row align-items-center">
                    <h1 *ngIf="entryDate" class="date-o" style="color:#1976ED">{{calculateDayEntry(entryDate)}}</h1>
                    <div class="d-flex flex-column ml-2 date">
                      <span *ngIf="entryDate" style="color: black;">{{calculateMonthEntry(entryDate)}}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="exitDate" class="check-out ms-4">
                  <span *ngIf="exitDate" style="color:black">Exit Date</span>
                  <div class="d-flex flex-row align-items-center">
                    <h1 *ngIf="exitDate" style="color: #1976ed;" class="date-o">{{calculateDayExit(exitDate)}}</h1>
                    <div class="d-flex flex-column ml-2 date">
                      <span *ngIf="exitDate" style="color: black;">{{calculateMonthExit(exitDate)}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-4 mb-4">
          <button (click)="saveReservation()" type="submit" class="btn btn-sample booking" data-bs-dismiss="modal">Check
            Reservation</button>
        </div>
      </div>
    </div>
  </div>

</section>
