<section style="min-height: 100vh; max-height: 100%; margin-top: 2rem" class="mt-5" id="content">
  <div class="container">
    <div id="main">
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h5 class="search-results-title">
            <i style="color: #1975e6" class="fa fa-search"></i>
            <b>{{ hotels.length }}</b> results found.
          </h5>
          <div class="toggle-container filters-container">
            <div class="panel style1 arrow-right">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#price-filter" class="collapsed">
                  Search Hotel
                </a>
              </h4>
              <div id="price-filter" class="panel-collapse collapse">
                <div class="panel-content">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Hotel</mat-label>
                    <input autocomplete="off" [(ngModel)]="searchHotel" name="searcHotel" matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="sort-by-section clearfix">
            <h4 class="sort-by-title block-sm">Sort results by:</h4>
            <ul class="sort-bar clearfix block-sm">
              <li class="sort-by-popularity active">
                <a class="sort-by-container d-flex">
                  <span>Name</span>
                  <button *ngIf="!hotelsNameUp && !hotelsNameDown" (click)="getHotelsNameUp()"
                    style="background-color: #d9d9d9; border: none" class="sort-button">
                    <i class="fa-solid fa-sort-up sort-up"></i>
                    <i class="fa-solid fa-sort-down sort-down"></i>
                  </button>
                  <button *ngIf="hotelsNameUp && !hotelsNameDown" (click)="getHotelsNameDown()"
                    style="background-color: #1975e6; border: none" class="sort-button">
                    <i class="fa-solid fa-sort-up sort-up" style="color: #222"></i>
                    <i class="fa-solid fa-sort-down sort-down"></i>
                  </button>
                  <button *ngIf="hotelsNameDown && !hotelsNameUp" (click)="getHotelsNameUp()"
                    style="background-color: #1975e6; border: none" class="sort-button">
                    <i class="fa-solid fa-sort-up sort-up"></i>
                    <i class="fa-solid fa-sort-down sort-down" style="color: #222"></i>
                  </button>
                </a>
              </li>
            </ul>
            <ul class="swap-tiles clearfix block-sm">
              <li *ngIf="viewList" (click)="hotelsViewList()" class="swap-list active icons-center">
                <a><i class="fas fa-th-list" style="font-size: 1.5rem;"></i></a>
              </li>
              <li *ngIf="!viewList" (click)="hotelsViewList()">
                <a><i class="fas fa-th-list icons-center" style="font-size: 1.5rem"></i></a>
              </li>
              <li *ngIf="viewGrid" (click)="hotelsViewGrid()" class="swap-grid active">
                <a><i class="fas fa-th-large icons-center" style="font-size: 1.5rem;"></i></a>
              </li>
              <li *ngIf="!viewGrid" (click)="hotelsViewGrid()">
                <a><i class="fas fa-th-large" style="font-size: 1.5rem"></i></a>
              </li>
              <li *ngIf="viewBlock" (click)="hotelsViewBlock()" class="swap-block active">
                <a><i class="fas fa-th" style="font-size: 1.5rem"></i></a>
              </li>
              <li *ngIf="!viewBlock" (click)="hotelsViewBlock()" class="swap-block">
                <a><i class="fas fa-th" style="font-size: 1.5rem"></i></a>
              </li>
            </ul>
          </div>
          <div *ngIf="viewList" class="hotel-list listing-style3 hotel">
            <article *ngFor="let hotel of hotels | searchHotelPipe: searchHotel" class="box">
              <figure class="col-sm-5 col-md-4">
                <a title="" class="hover-effect popup-gallery">
                  <img width="270" height="160"
                    src="https://www.atrapalo.com/pa/hoteles/picture/l/473/9/7/439491678.jpg" />
                </a>
              </figure>
              <div class="details col-sm-7 col-md-8">
                <div>
                  <div>
                    <h4 class="box-title">
                      {{ hotel.name }}
                      <small>
                        <i style="color: #1975e6" class="fa fa-map-marker" aria-hidden="true"></i>
                        {{ hotel.address }}
                      </small>
                    </h4>
                  </div>
                  <div>
                    <div class="five-stars-container">
                      <span class="five-stars" style="width: 80%"></span>
                    </div>
                    <span class="review">270 reviews</span>
                  </div>
                </div>
                <div>
                  <p>{{ hotel.description }}</p>
                  <div>
                    <span class="price"><small>AVG/NIGHT</small>$620</span>
                    <a routerLink="/viewRoom/{{hotel._id}}" class="button btn-small full-width text-center" title="">
                      VIEW
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div *ngIf="viewGrid" class="hotel-list">
            <div class="row image-box hotel listing-style1">
              <div *ngFor="let hotel of hotels | searchHotelPipe: searchHotel" class="col-sm-6 col-md-4">
                <article class="box">
                  <figure>
                    <a class="hover-effect popup-gallery">
                      <img width="270" height="160"
                        src="https://www.atrapalo.com/pa/hoteles/picture/l/473/9/7/439491678.jpg" />
                    </a>
                  </figure>
                  <div class="details">
                    <span class="price">
                      <small>avg/night</small>
                      $620
                    </span>
                    <h4 class="box-title">
                      {{ hotel.name }}<small>{{ hotel.address }}</small>
                    </h4>
                    <div class="feedback">
                      <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars">
                        <span style="width: 80%" class="five-stars"></span>
                      </div>
                      <span class="review">270 reviews</span>
                    </div>
                    <p class="description">{{ hotel.description }}</p>
                    <a [routerLink]="['/viewRoom/' + hotel._id]" class="button btn-small">VIEW</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div *ngIf="viewBlock" class="hotel-list">
            <div class="row image-box listing-style2">
              <div *ngFor="let hotel of hotels | searchHotelPipe: searchHotel" class="col-sms-6 col-sm-6 col-md-4">
                <article class="box">
                  <figure>
                    <a title="" class="hover-effect popup-gallery"><img
                        src="https://www.atrapalo.com/pa/hoteles/picture/l/473/9/7/439491678.jpg" alt="" width="270"
                        height="160" /></a>
                  </figure>
                  <div class="details">
                    <a [routerLink]="['/viewRoom/' + hotel._id]" title="View all" class="pull-right button uppercase">VIEW</a>
                    <h4 class="box-title">{{ hotel.name }}</h4>
                    <label class="price-wrapper">
                      <span class="price-per-unit" style="color:#1975D6">$322</span>avg/night
                    </label>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true" class="text-center">Not Hotels Found</h1>
</section>
