<section class="content">
  <div class="container-fluid">
    <h1 style="margin-top: 4rem">
      &nbsp;<i class="fa fa-building"></i>
      Your Hotel
    </h1>
    <hr>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid" style="height: 100%;">
              <div class="profile-header bg-dark">
                <div class="user-name">{{hotel.name}}</div>
                <div class="name-center">{{user.role}}</div>
              </div>
              <img *ngIf="!hotel.image" data-bs-toggle="modal" data-bs-target="#viewPhoto"
                src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
              <img *ngIf="hotel.image" data-bs-toggle="modal" data-bs-target="#viewPhoto" src="{{uri}}"
                crossorigin="anonymous" class="user-img redimention" alt="">
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>+502 {{hotel.phone}}</span>
              </div>
              <div style="margin-top: -2rem;">
                <span class="phone">
                  <i class="material-icons">email</i>{{hotel.email}}</span>
              </div>
              <div style="margin-top: -2rem;">
                <span class="phone">
                  <i class="material-icons">place</i>{{hotel.address}}</span>
              </div>
              <button type="button" class="btn btn-sample" data-bs-toggle="modal" data-bs-target="#uploadImage">
                <i class="fa fa-image" aria-hidden="true"></i>
                &nbsp; Upload Image
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">location_city</mat-icon>
                About Hotel
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Information Hotel</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Name</strong>
                        <br>
                        <p class="text-muted">{{hotel.name}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Description</strong>
                        <br>
                        <p class="text-muted">{{hotel.description}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Phone</strong>
                        <br>
                        <p class="text-muted">{{hotel.phone}}</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">{{hotel.email}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Settings
              </ng-template>
              <div class="header">
                <h2>
                  <i class="fas fa-building"></i>
                  <strong> Hotel</strong> Settings
                </h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <form (ngSubmit)="hotelUpdate()">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Name</mat-label>
                      <input [(ngModel)]="updateHotel.name" name="name" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Description</mat-label>
                      <input [(ngModel)]="updateHotel.description" name="description" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Address</mat-label>
                      <input [(ngModel)]="updateHotel.address" name="username" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input [(ngModel)]="updateHotel.email" name="email" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Phone</mat-label>
                      <input [(ngModel)]="updateHotel.phone" name="phone" matInput>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Administrator</mat-label>
                      <input disabled value="{{updateHotel.admin.name}} {{updateHotel.admin.surname}}" name="admin" matInput>
                    </mat-form-field>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success ms-2">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        &nbsp; Update Hotel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="viewPhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <h2><i class="fas fa-image"></i>
              &nbsp; Your Hotel Image</h2>
          </h3>
          <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img *ngIf="!userImage" src="assets/images/user/usrbig3.jpg" style="max-width:100%" alt="">
          <img *ngIf="userImage" src="{{uri}}" style="max-width:100%" crossorigin="anonymous" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="uploadImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-image"></i>
            &nbsp; Upload Image
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <label for="image" class="form-label">
              <label style="font-size:1.5rem;" for="image" class="form-label">Select Image</label>
              <input (change)="filesChange($event)" type="file" class="form-control" id="image">
            </label>
          </div>
        </div>
        <hr>
        <div class="modal-footer justify-content-center">
          <button (click)="uploadImage()" type="submit" data-bs-dismiss="modal" class="btn btn-sample">
            <i class="fa fa-image" aria-hidden="true"></i>
            &nbsp; Upload Image
          </button>
        </div>
      </div>
    </div>
  </div>

</section>
