<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa fa-users" aria-hidden="true"> </i>
    Users
  </h1>
  <hr />

  <div *ngIf="!showTableUsers" class="row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchUser" type="text" class="form-control form-input" placeholder="Search User...">
    </div>
  </div>

  <div class="text-center mt-2 mb-2">
    <button type="button" data-bs-toggle="modal" data-bs-target="#addUser" class="ms-3 btn btn-event btn-success">
      Add User
      <span class="btn-icon-end"><i class="fas fa-user"></i> </span>
    </button>
    <button *ngIf="!showTableUsers" (click)="showTable()" type="button" class="ms-3 btn btn-event btn-secondary">
      Table Users
      <span class="btn-icon-end"><i class="fas fa-table"></i> </span>
    </button>
    <button *ngIf="showTableUsers" (click)="showTable(); cleanTable()" type="button"
      class="ms-3 btn btn-event btn-secondary">
      Return Cards
      <span class="btn-icon-end"><i class="fas fa-arrow-left"></i> </span>
    </button>
    <button routerLink="/admin/home" type="button" class="ms-3 btn btn-event btn-dark">
      Back Home
      <span class="btn-icon-end"><i class="fas fa-home"></i> </span>
    </button>
  </div>
  <hr />

  <!--CARDS DE USERS-->
  <div *ngIf="!showTableUsers">
    <div class="container">
      <div class="products-container">
        <div *ngFor="let user of users | searchUserBarPipe : searchUser" class="product" data-name="p-1">
          <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
          <p class="card-text">{{ user.role }}</p>
          <button (click)="getUser(user._id)" class="btn btn-success m-3" data-bs-toggle="modal"
            data-bs-target="#updateUser" class="btn btn-warning m-2">
            <i class="fa fa-pencil" aria-hidden="true"> </i> Update
          </button>
          <button (click)="deleteUser(user._id)" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>
          <button (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser"
            class="btn btn-secondary ms-2">
            <i class="fa fa-eye" aria-hidden="true"></i>
            View
          </button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="modal fade" id="viewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="addContainer">
            <div class="contact-details">
              <div class="modalHeader">
                <div class="editRowModal">
                  <div *ngIf="userView" class="modalHeader clearfix">
                    <div class="modal-about contact-header">
                      <div class="contact-details-img">
                        <img *ngIf="!userImage" src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                        <img style="object-fit: cover;" *ngIf="userImage" src="{{uri}}" crossorigin="anonymous"
                          alt="avatar" />
                      </div>
                      <div class="contact-details-heading">
                        <div class="contact-details-name mb-2">
                          {{ userView.name }}
                        </div>
                        <div *ngIf="userView.role === 'ADMIN HOTEL'" class="badge col-blue">
                          {{ userView.role }}
                        </div>
                        <div *ngIf="userView.role === 'CLIENT'" class="badge col-yellow">
                          {{ userView.role }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <hr />
              <div *ngIf="userView" class="descripcion">
                <div class="count-container">
                  <div class="box">
                    <h3>Name:</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.name }}</p>
                  </div>

                  <div class="box">
                    <h3>Surname:</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.surname }}</p>
                  </div>

                  <div class="box">
                    <h3>Username:</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.username }}</p>
                  </div>

                  <div class="box">
                    <h3>Email:</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.email }}</p>
                  </div>

                  <div class="box">
                    <h3>Phone:</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.phone }}</p>
                  </div>

                  <div class="box">
                    <h3>Role</h3>
                  </div>

                  <div class="box">
                    <p>{{ userView.role }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--ADD USER-->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
              <i class="fas fa-user-plus" aria-hidden="true"></i>
              &nbsp;Add User
            </h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="saveUser(addUserForm)" #addUserForm="ngForm">
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input autocomplete="off" [(ngModel)]="user.name" name="name" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Surname</mat-label>
                  <input autocomplete="off" [(ngModel)]="user.surname" name="surname" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input autocomplete="off" [(ngModel)]="user.username" name="username" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input autocomplete="off" [(ngModel)]="user.password" name="password" type="password" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input autocomplete="off" [(ngModel)]="user.email" name="email" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input [(ngModel)]="user.phone" name="phone" type="text" matInput />
                </mat-form-field>
              </div>
              <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Role</mat-label>
                  <mat-select [(ngModel)]="user.role" name="role">
                    <mat-option value="ADMIN HOTEL">ADMIN HOTEL</mat-option>
                    <mat-option value="CLIENT">CLIENT</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <hr />
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                  <i class="fa fa-times-circle" aria-hidden="true"></i> Discard
                  Save
                </button>
                <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Save User
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--UPDATE USER-->
  <div class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-basic-title">
            <i class="fas fa-pencil" aria-hidden="true"></i>
            &nbsp;Update User
          </h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateUser()" *ngIf="userUpdate">
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input autocomplete="off" [(ngModel)]="userUpdate.name" name="name" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input autocomplete="off" [(ngModel)]="userUpdate.surname" name="surname" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input autocomplete="off" [(ngModel)]="userUpdate.username" name="username" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" [(ngModel)]="userUpdate.email" name="email" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Phone</mat-label>
                <input autocomplete="off" [(ngModel)]="userUpdate.phone" name="phone" type="text" matInput />
              </mat-form-field>
            </div>
            <div class="text-inside">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="userUpdate.role" name="role">
                  <mat-option value="ADMIN HOTEL">ADMIN HOTEL</mat-option>
                  <mat-option value="CLIENT">CLIENT</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <hr />
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                <i class="fa fa-times-circle" aria-hidden="true"></i> Discard Update
              </button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Update User
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--TABLE USERS-->
  <div *ngIf="showTableUsers" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Table Users</h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchUser" placeholder="Search.." type="text" #filter
                    class="browser-default search-field" aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteUser(userDelete._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateUser" mat-mini-fab class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <i *ngIf="
                userNameUp || userNameDown || userSurnameUp || userSurnameDown
              " (click)="cleanTable()" class="fa fa-times-circle closeFilter" aria-hidden="true">
            </i>
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Photo</th>
                  <th class="cursor" *ngIf="!userNameUp && !userNameDown" (click)="getUsersByUp()">
                    Name
                    <i class="fa fa-sort-alpha-asc text-gray-400 ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc text-gray-400 ms-2"></i>
                  </th>
                  <th class="cursor" *ngIf="userNameUp && !userNameDown" (click)="getUsersByDown()">
                    Name
                    <i class="fa fa-sort-alpha-asc ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc text-gray-400 ms-2"></i>
                  </th>
                  <th class="cursor" *ngIf="userNameDown" (click)="getUsersByUp()">
                    Name
                    <i class="fa fa-sort-alpha-asc text-gray-400 ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc ms-2"></i>
                  </th>
                  <th class="cursor" *ngIf="!userSurnameUp && !userSurnameDown" (click)="getUsersSurnameByUp()">
                    Surname
                    <i class="fa fa-sort-alpha-asc text-gray-400 ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc text-gray-400 ms-2"></i>
                  </th>
                  <th class="cursor" *ngIf="userSurnameUp && !userSurnameDown" (click)="getUsersSurnameByDown()">
                    Surname
                    <i class="fa fa-sort-alpha-asc ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc text-gray-400 ms-2"></i>
                  </th>
                  <th class="cursor" *ngIf="userSurnameDown" (click)="getUsersSurnameByUp()">
                    Surname
                    <i class="fa fa-sort-alpha-asc text-gray-400 ms-2" aria-hidden="true"></i>
                    <i class="fa fa-sort-alpha-desc ms-2"></i>
                  </th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | searchUserPipe: searchUser">
                  <td (click)="getUser(user._id)">
                    <mat-checkbox *ngIf="user.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(user._id, check); getUser(user._id)" class="example-margin"
                      color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="user.checked==false" class="example-margin" color="primary">
                    </mat-checkbox>
                    {{ users.indexOf(user) + 1 }}
                  </td>
                  <td (click)="getUser(user._id)" class="table-img">
                    <img *ngIf="user.image===undefined" style="object-fit: cover;" src="assets/images/user/user8.jpg"
                      crossorigin="anonymous" alt="" />
                    <img *ngIf="user.image!==undefined" style="object-fit: cover;" src="{{uriUser+user.image}}"
                      crossorigin="anonymous" alt="" />
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.name }}</td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.surname }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.username }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.email }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.phone }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser" align="center">
                    <div *ngIf="user.role === 'ADMIN HOTEL'" data-bs-toggle="modal" data-bs-target="#viewUser"
                      class="badge col-blue">
                      {{ user.role }}
                    </div>
                    <div *ngIf="user.role === 'CLIENT'" data-bs-toggle="modal" data-bs-target="#viewUser"
                      class="badge col-yellow">
                      {{ user.role }}
                    </div>
                  </td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Not Users Found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 *ngIf="notFound === true && showTableUsers === false" class="text-center">
    Not Users Found
  </h1>
</section>
