<section class="content">
  <h1 style="margin-top: 4rem">
    &nbsp;<i class="fa fa-users" aria-hidden="true"> </i>
    Usuarios
  </h1>
  <hr>

  <!--BARRA DE BÚSQUEDA DE USUARIOS-->
  <div *ngIf="!showTableUsers" class="mt-4 row d-flex justify-content-center align-items-center">
    <div class="form">
      <i class="fa fa-search ms-2"></i>
      <input [(ngModel)]="searchUser" type="text" class="form-control form-input" placeholder="Buscar Usuario...">
    </div>
  </div>

  <!--BOTONES PRINCIPALES-->
  <div class="text-center mt-4">
    <button *ngIf="!showTableUsers" data-bs-toggle="modal" data-bs-target="#addUser"
      class="btn icon-btn btn-success ms-2 me-2">
      <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-user text-success"></span>
      Agregar Usuario
    </button>
    <button *ngIf="!showTableUsers" (click)="showTable(); getUsers()" class="btn icon-btn btn-secondary ms-2 me-2">
      <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-table text-secondary"></span>
      Tabla de Usuarios
    </button>
    <button *ngIf="showTableUsers" (click)="showTable(); cleanTable()" class="btn icon-btn btn-secondary ms-2 me-2">
      <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-address-card text-secondary"></span>
      Cartas de Usuarios
    </button>
    <button class="btn icon-btn btn-dark ms-2 me-2">
      <span style="border-radius: 50% 50%;" class="btn-glyphicon fas fa-home text-dark"></span>
      Inicio
    </button>
  </div>
  <hr>


  <!--CARTA DE USUARIOS-->
  <div *ngIf="!showTableUsers" class="row mt-5 clearfix">
    <div
      *ngFor="let user of users | searchUser : searchUser | slice: (pageCard-1) * pageSizeCard : pageCard * pageSizeCard"
      class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card profile-header">
        <div class="body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="profile-image float-md-right"> <img src="assets/images/user/usrbig6.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
              <h4 class="m-t-0 m-b-1"><strong>{{user.name}} </strong>{{user.surname}}</h4>
              <span class="job_post">
                <i class="fa fa-address-book"></i>
                {{user.role}}
              </span>
              <p>
                <i class="fa fa-circle-user"></i>
                {{user.username}}<br>
                <i class="fa fa-phone"></i>
                {{user.phone}}<br>
                <i class="fa fa-at"></i>&nbsp;
                <a href="mailTo:{{user.email}}">{{user.email}}</a><br>
                <i class="fa fa-venus-mars"></i>
                {{user.gender}}<br>
                <i class="fa fa-calendar-day"></i>
                {{user.age}} años<br>
              </p>
            </div>
          </div>
          <div class="spacing-buttons">
            <button (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#updateUser" type="button" class="btn btn-labeled btn-warning me-1">
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Editar
            </button>
            <button (click)="deleteUser(user._id)" type="button" class="btn btn-labeled btn-danger ms-1 me-1">
              <span class="btn-label">
                <i class="fa fa-trash"></i>
              </span>
              Eliminar
            </button>
            <button (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser" type="button" class="btn btn-labeled btn-secondary ms-1">
              <span class="btn-label">
                <i class="fa fa-eye"></i>
              </span>
              Ver Detalles
            </button>
          </div>
        </div>
      </div>
    </div>
    <h1 *ngIf="notFound === true && showTableUsers === false" class="text-center">
    Sin Resultados
  </h1>
    <ngb-pagination [(page)]="pageCard" [pageSize]="pageSizeCard" [collectionSize]="users.length"></ngb-pagination>
  </div>


  <!--MODAL AGREGAR USUARIO-->
  <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">
                      <i class="fas fa-user-plus fa-2x mt-1"></i>
                    </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        Nuevo Usuario
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <hr />
          <div class="body">
            <form (ngSubmit)="saveUser(addUserForm)" #addUserForm="ngForm" class="register-form m-4">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input [(ngModel)]="user.name" name="name" autocomplete="off" matInput>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input [(ngModel)]="user.surname" name="surname" autocomplete="off" matInput>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input [(ngModel)]="user.username" name="username" autocomplete="off" matInput>
                    <mat-icon matSuffix>switch_account</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input [(ngModel)]="user.password" name="password" autocomplete="off" matInput type="password">
                    <mat-icon matSuffix>key</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="user.email" name="email" autocomplete="off" matInput>
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Género</mat-label>
                    <mat-select [(ngModel)]="user.gender" name="gender">
                      <mat-option value="Masculino">
                        Masculino
                      </mat-option>
                      <mat-option value="Femenino">
                        Femenino
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>wc</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input [(ngModel)]="user.age" name="age" autocomplete="off" matInput min="1" type="number">
                    <mat-icon matSuffix>today</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input [(ngModel)]="user.phone" name="phone" autocomplete="off" matInput>
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select [(ngModel)]="user.role" name="role">
                      <mat-option value="ORGANIZADOR">
                        Organizador
                      </mat-option>
                      <mat-option value="CLIENTE">
                        Cliente
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>switch_account</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <hr style="margin-top: -0.5rem;">
              <div class="spacing-buttons">
                <button type="submit" data-bs-dismiss="modal" class="btn btn-labeled btn-success me-1">
                  <span class="btn-label">
                    <i class="fa fa-floppy-o"></i>
                  </span>
                  Agregar
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-labeled btn-danger ms-1 me-1">
                  <span class="btn-label">
                    <i class="fa fa-times-circle"></i>
                  </span>
                  Cancelar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--MODAL AGREGAR USUARIO-->
  <div class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">
                      <i class="fas fa-pencil fa-2x mt-1"></i>
                    </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        Editar Usuario
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <hr />
          <div *ngIf="userUpdate" class="body">
            <form (ngSubmit)="updateUser()" class="register-form m-4">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input [(ngModel)]="userUpdate.name" name="name" autocomplete="off" matInput>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input [(ngModel)]="userUpdate.surname" name="surname" autocomplete="off" matInput>
                    <mat-icon matSuffix>face</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input [(ngModel)]="userUpdate.username" name="username" autocomplete="off" matInput>
                    <mat-icon matSuffix>switch_account</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="userUpdate.email" name="email" autocomplete="off" matInput>
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Género</mat-label>
                    <mat-select [(ngModel)]="userUpdate.gender" name="gender">
                      <mat-option value="Masculino">
                        Masculino
                      </mat-option>
                      <mat-option value="Femenino">
                        Femenino
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>wc</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Edad</mat-label>
                    <input [(ngModel)]="userUpdate.age" name="age" autocomplete="off" matInput min="1" type="number">
                    <mat-icon matSuffix>today</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input [(ngModel)]="userUpdate.phone" name="phone" autocomplete="off" matInput>
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Role</mat-label>
                    <mat-select [(ngModel)]="userUpdate.role" name="role">
                      <mat-option value="ORGANIZADOR">
                        Organizador
                      </mat-option>
                      <mat-option value="CLIENTE">
                        Cliente
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>switch_account</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <hr style="margin-top: -0.5rem;">
              <div class="spacing-buttons">
                <button type="submit" data-bs-dismiss="modal" class="btn btn-labeled btn-success me-1">
                  <span class="btn-label">
                    <i class="fa fa-floppy-o"></i>
                  </span>
                  Actualizar
                </button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-labeled btn-danger ms-1 me-1">
                  <span class="btn-label">
                    <i class="fa fa-times-circle"></i>
                  </span>
                  Cancelar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--MODAL VER DETALLES-->
  <div class="modal fade" id="viewUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="addContainer">
          <div class="contact-details">
            <div class="modalHeader">
              <div class="editRowModal">
                <div *ngIf="userView" class="modalHeader clearfix">
                  <div class="modal-about contact-header">
                    <div class="contact-details-img">
                      <img *ngIf="!userImage" src="../../../../assets/images/user/usrbig2.jpg" alt="avatar" />
                      <img style="object-fit: cover;" *ngIf="userImage" src="{{uri}}" crossorigin="anonymous"
                        alt="avatar" />
                    </div>
                    <div class="contact-details-heading">
                      <div class="contact-details-name mb-2">
                        {{ userView.name }} {{userView.surname}}
                      </div>
                      <div *ngIf="userView.role === 'ORGANIZADOR'" class="badge col-orange">
                        {{userView.role}}
                      </div>
                      <div *ngIf="userView.role === 'CLIENTE'" class="badge col-blue">
                        {{userView.role}}
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-icon-button data-bs-dismiss="modal" aria-label="Close dialog">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
            <hr />
            <div *ngIf="userView" class="descripcion">
              <div class="count-container">
                <div class="box">
                  <h3>Nombre:</h3>
                </div>

                <div class="box">
                  <p>{{ userView.name }}</p>
                </div>

                <div class="box">
                  <h3>Apellido:</h3>
                </div>

                <div class="box">
                  <p>{{userView.surname}}</p>
                </div>

                <div class="box">
                  <h3>Usuario:</h3>
                </div>

                <div class="box">
                  <p>{{userView.username}}</p>
                </div>

                <div class="box">
                  <h3>Género:</h3>
                </div>

                <div class="box">
                  <p>{{userView.gender}}</p>
                </div>

                <div class="box">
                  <h3>Edad:</h3>
                </div>

                <div class="box">
                  <p>{{userView.age}} años</p>
                </div>

                <div class="box">
                  <h3>Email:</h3>
                </div>

                <div class="box">
                  <p>{{userView.email}}</p>
                </div>

                <div class="box">
                  <h3>Teléfono:</h3>
                </div>

                <div class="box">
                  <p>{{userView.phone}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!--TABLA DE USUARIOS-->
  <div *ngIf="showTableUsers" class="row clearfix mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="materialTableHeader mb-3">
          <div class="row">
            <div class="col-8">
              <ul class="header-buttons-left ml-0">
                <li class="dropdown">
                  <div class="header">
                    <h2>Table de Usuarios</h2>
                  </div>
                </li>
                <li class="dropdown m-l-20">
                  <label for="search-input">
                    <i class="material-icons search-icon">search</i>
                  </label>
                  <input [(ngModel)]="searchUser" placeholder="Buscar Usuario..." type="text" #filter class="browser-default search-field"
                    aria-label="Search box" />
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button (click)="deleteUser(userDelete._id)" mat-mini-fab color="warn">
                      <mat-icon class="col-white">delete
                      </mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="buttonActions">
                  <div class="icon-button-demo m-l-10">
                    <button data-bs-toggle="modal" data-bs-target="#updateUser" mat-mini-fab class="colorUpdate">
                      <mat-icon class="col-white">edit
                      </mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <ul class="header-buttons">
                <li>
                  <div class="icon-button-demo add">
                    <button data-bs-toggle="modal" data-bs-target="#addUser" mat-mini-fab color="primary">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                    <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
                      <mat-icon>file_download</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button (click)="exportExcel()" mat-menu-item>
                        <i style="color:green" class="fa-solid fa-file-excel"></i>
                        &nbsp;
                        Excel
                      </button>
                      <button mat-menu-item>
                        <i style="color:red" class="fa-solid fa-file-pdf"></i>
                        &nbsp;
                        PDF
                      </button>
                    </mat-menu>
                  </div>

                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tableBody">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Foto</th>
                  <th (click)="controlClicksName()">
                    Nombre
                      <i *ngIf="nameUp" class="fad fa-sort-up"></i>
                      <i *ngIf="nameDown" class="fad fa-sort-down"></i>
                  </th>
                  <th (click)="controlClicksSurname()">
                    Apellido
                    <i *ngIf="surnameUp" class="fad fa-sort-up"></i>
                    <i *ngIf="surnameDown" class="fad fa-sort-down"></i>
                  </th>
                  <th (click)="controlClicksUsername()">
                    Usuario
                    <i *ngIf="usernameUp" class="fad fa-sort-up"></i>
                    <i *ngIf="usernameDown" class="fad fa-sort-down"></i>
                  </th>
                  <th>Género</th>
                  <th (click)="controlClicksUserAge()">
                    Edad
                    <i *ngIf="ageUp" class="fad fa-sort-up"></i>
                    <i *ngIf="ageDown" class="fad fa-sort-down"></i>
                  </th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | searchUser : searchUser">
                  <td>
                    <mat-checkbox
                    *ngIf="user.checked==true || controloClick==0" #check="matCheckbox"
                      (click)="showButtonActions(user._id, check); getUser(user._id)"
                     class="example-margin" color="primary">
                    </mat-checkbox>
                    <mat-checkbox disabled="" *ngIf="user.checked==false" class="example-margin" color="primary">
                    </mat-checkbox>
                    {{user.position}}
                  </td>
                  <td (click)="getUser(user._id)" class="table-img">
                    <img *ngIf="!user.image" style="object-fit: cover;" src="assets/images/user/user8.jpg"
                      crossorigin="anonymous" alt="" />
                    <img *ngIf="user.image" src="{{uriUser+user.image}}" style="object-fit: cover;" crossorigin="anonymous" alt="" />
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.name }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.surname }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.username }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">
                    <div *ngIf="user.gender === 'Masculino'" data-bs-toggle="modal" data-bs-target="#viewUser" class="badge col-blue">
                      {{ user.gender }}
                    </div>
                    <div *ngIf="user.gender === 'Femenino'" data-bs-toggle="modal" data-bs-target="#viewUser" class="badge col-pink">
                      {{ user.gender }}
                    </div>
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.age }} años
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.email }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser">{{ user.phone }}
                  </td>
                  <td (click)="getUser(user._id)" data-bs-toggle="modal" data-bs-target="#viewUser" align="center">
                    <div data-bs-toggle="modal" data-bs-target="#viewUser" class="badge col-blue">
                      {{ user.role }}
                    </div>
                  </td>
                </tr>
                <tr rowspan="9" *ngIf="notFound === true">
                  <td colspan="9" class="text-center">Sin Resultados</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!nameUp && !nameDown && !surnameUp && !surnameDown && !usernameUp && !usernameDown && !ageUp && !ageDown" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsers()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsers()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>

            <div *ngIf="nameUp" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersNameUp()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersNameUp()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>
            <div *ngIf="nameDown" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersNameDown()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersNameDown()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>

            <div *ngIf="surnameUp" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersSurnameUp()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersSurnameUp()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>
            <div *ngIf="surnameDown" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersSurnameDown()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersSurnameDown()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>

            <div *ngIf="usernameUp" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersUsernameUp()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersUsernameUp()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>
            <div *ngIf="usernameDown" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersUsernameDown()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersUsernameDown()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>

            <div *ngIf="ageUp" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersAgeUp()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersAgeUp()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>
            <div *ngIf="ageDown" class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="getUsersAgeDown()">
              </ngb-pagination>

              <select class="form-select" style="width: auto; height:2.5rem" [(ngModel)]="pageSize" name="size"
                (ngModelChange)="getUsersAgeDown()">
                <option [ngValue]="1">1 items por página</option>
                <option [ngValue]="2">2 items por página</option>
                <option [ngValue]="5">5 items por página</option>
                <option [ngValue]="collectionSize">Todos los items</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
